@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxanium', cursive;
    background-color: #080808;
    color: #fff;
}

ul {
    list-style: none;
}

.cabecalho {
    display: flex;
    justify-content: center;
}
.selecao-de-personagens{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    gap: 30px;
}
.selecao-de-personagens .lista-de-personagens{
background-color: blue;
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
}